parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
        # Exclude integrations that depend on optional packages
        - src/Integrations/Psr15Middleware.php
        - src/Integrations/LaravelQueueHandler.php
        - src/Integrations/LaravelServiceProvider.php
        - src/Integrations/LaravelExceptionHandler.php
    reportUnmatchedIgnoredErrors: false
